@{
    ViewData["Title"] = "COMP2139 Labs Home Page";
}

@* Define variables for name and student number *@
@{
    var name = "Vincente Sequeira";
    var studentNumber = "101484793";
    var courseCode = "COMP2139 - 50272";
}

<div>
    <h1>Welcome to the Page</h1>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
</div>
