@{
    ViewData["Title"] = "COMP2139 Labs Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about my awesome programming skills<a href="http://virtualvince.ca"> My Website</a>.</p>
</div>